:root {
  /* Colors */
  --accent-color: #2196f3;
  --main-color: #757575;
  --second-color: #212121;
  --white: #ffffff;
  --black: #000000;
  --icon-color: #afb1b8;
  /* Fonts */
  --main-font: Roboto, sans-serif;
  --sec-font: Raleway, sans-serif;
}

body {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Resets */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
  border: 0px;
}
address {
  font-style: normal;
}
img {
  display: block;
  height: auto;
}
/* General classes */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: red solid 1px; */
}

/* System classes  */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Header */
.header {
  border-bottom: 1px solid #ececec;
}
.head-logo {
  margin-right: 93px;
  padding: 25px 0;
}
.logo {
  color: var(--accent-color);

  font-family: var(--sec-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo {
  color: var(--black);
}

.header-nav-link.current {
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}
.head-flex {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: flex;
}
.header-nav-link {
  position: relative;
  color: var(--second-color);
  padding: 34px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-item {
  margin-right: 50px;
}
.header-nav-item:last-child {
  margin-right: 0;
}
.header-contacts-list {
  display: flex;
  margin-left: auto;
}
.header-contacts-item {
  margin-right: 50px;
}
.header-contacts-item:last-child {
  margin-right: 0;
}
.header-contacts-link {
  display: flex;
  align-items: center;
  color: currentColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.mail-icon {
  margin-right: 10px;
  fill: currentColor;
}
.phone-icon {
  margin-right: 10px;
  fill: currentColor;
}
/* Main */

/* Hero section */
.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/backgrounds/hero-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
/* .hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
} */
.hero-tittle {
  color: var(--white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-button {
  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* Features section */
.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features-list {
  display: flex;
}
.features-item {
  margin-right: 30px;
}
.features-item:last-child {
  margin-right: 0;
}
.features-tittle {
  color: var(--second-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.features-text {
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Occupation section */
.occupation {
  padding-top: 0;
}
.occupation-tittle {
  color: var(--second-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.occupation-list {
  display: flex;
  align-items: center;
}
.occupation-item {
  margin-right: 30px;
}
.occupation-item:last-child {
  margin-right: 0;
}
.occupation-cover {
  position: relative;
}
.occupation-text {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Team section */
.team {
  background-color: #f5f4fa;
}
.team-tittle {
  color: var(--second-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}
.team-list {
  display: flex;
  align-items: center;
}
.team-item {
  background-color: var(--white);

  text-align: center;

  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}
.team-item:last-child {
  margin-right: 0;
}
.team-subtittle {
  color: var(--second-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: currentColor;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--white);
  border-radius: 50%;
}
/* Clients section */
.clients-tittle {
  color: var(--second-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  gap: 30px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Portfolio page */

/* Filter-buttons */
.gallery-filter-list {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}
.gallery-filter-item {
  margin-right: 8px;
}
.gallery-filter-item:last-child {
  margin-right: 0;
}
.gallery-filter-button {
  background-color: #f5f4fa;
  color: var(--second-color);
  border-radius: 4px;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-filter-button:focus,
.gallery-filter-button:hover {
  background-color: var(--accent-color);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
}
.gallery-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.gallery-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-item:nth-child(3n) {
  margin-right: 0;
}
.gallery-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.gallery-card {
  padding: 20px 24px;
}
.gallery-subtittle {
  color: var(--second-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.gallery-text {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.gallery-img-cover {
  position: relative;
  overflow: hidden;
}
.gallery-img-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-link:hover .gallery-img-text,
.gallery-link:focus .gallery-img-text {
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}

/* Footer */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.foot-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-logo {
  color: var(--white);
}
.footer-address-item {
  margin-bottom: 10px;
}
.footer-address-item:last-child {
  margin-bottom: 0;
}

.footer-address-link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-direction {
  color: var(--white);
}

.footer-flex {
  display: flex;
  align-items: baseline;
}
.footer-address-logo {
  margin-right: 70px;
}

.footer-h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}
.footer-social {
  margin-right: auto;
}
.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  fill: var(--white);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

/* Footer form */
.subscribe-tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}
.subscribe-mail-form {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 12px;

  color: var(--white);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-mail-form::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-icon-send {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--white);
}

.footer-subscribe-btn {
  position: relative;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  padding: 10px 28px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Modal window */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal {
  position: absolute;
  width: 528px;
  min-height: 584px;
  background-color: var(--white);
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  fill: currentColor;
}

.modal-close:hover .modal-close-icon {
  fill: var(--white);
}
.modal-close:hover {
  background-color: var(--accent-color);
  border: 1px dashed var(--white);
}
.modal-tittle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);

  margin-bottom: 12px;
}
.field-title {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  text-align: left;
}
.form-wrap {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
}
.modal-form-field,
.client-comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
form-wrap {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
}
.modal-form-field {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  outline-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--second-color);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline-color: transparent;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form-field:focus,
.modal-form-field:focus + .modal-form-icon,
.client-comment:focus {
  outline-color: var(--accent-color);
  fill: var(--accent-color);
}
.modal-agree-field {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-agree-text {
  white-space: pre;
}

.agree-link {
  color: var(--accent-color);
}

.checkbox-icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;

  background: transparent;
  border: 2px solid var(--second-color);
  border-radius: 2px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-agree-field:hover .checkbox-icon,
.modal-agree-field:focus-within .checkbox-icon {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-checkbox:checked + .checkbox-icon {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}
.modal-submit-btn {
  position: relative;
  display: block;
  margin: 0 auto;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  padding: 10px 28px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus,
.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #188ce8;
}

.modal-submit-btn {
  text-align: center;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
