:root {
  /* Colors */
  --accent-color: #2196f3;
  --main-color: #757575;
  --second-color: #212121;
  --white: #ffffff;
  --black: #000000;
  --icon-color: #afb1b8;
  /* Fonts */
  --main-font: Roboto, sans-serif;
  --sec-font: Raleway, sans-serif;
}
